body {
  background-color: LightSkyBlue;
  font-family: "Arial", sans-serif;
}

div {
  width: 50%;
  /*width: 500px;  Can set width using percentages or pixels*/  
  
  padding: 15px;
  
  border: 5px solid black;
  
  border-radius: 25px;  /* can take up to 4 different inputs */
  
  margin: 20px;
}

p {
  background-color: AliceBlue;
  width: 50%;
}
